* {
	font-family: "DM Sans", sans-serif;
}

/* navbar */
.navbar-brand,
.offcanvas-title {
	font-weight: 700;
}

.navbar-brand span,
.offcanvas-title span {
	color: #d8ddef;
}

.nav-link:hover {
	color: #21d19f !important;
}

@media (min-width: 768px) {
	#contactButton {
		border: 2px solid #21d19f;
		color: #21d19f !important;
		padding: 5px 20px;
		border-radius: 12px;
	}
	#contactButton:hover {
		background-color: #21d19f;
		color: #fff !important;
	}
}

.navbar-toggler {
	border: none;
}
