* {
	font-family: "DM Sans", sans-serif;
	color: #29292e;
}

.nav-link {
	font-family: "DM Sans", sans-serif !important;

	/* Transition */
	transition: transform 0.3s ease-in-out;
}

.cody_primary {
	color: #29292e !important;
}

.cody_gray {
	color: #c8ccd8 !important;
}

.cody_lightGreen {
	color: #21d19f !important;
}

.cody_darkGreen {
	color: #45b69c !important;
}

/* navbar */
.navbar-brand,
.offcanvas-title {
	font-weight: 700;
}

.nav-link:hover {
	color: #21d19f !important;
	transform: translateY(-2px);
}

.nav-link {
	font-weight: 600;
}

@media (min-width: 768px) {
	#contactButton {
		border: 2px solid #21d19f;
		color: #21d19f !important;
		padding: 5px 20px;
		border-bottom-left-radius: 16px;
		border-top-right-radius: 16px;
	}
	#contactButton:hover {
		border-color: #45b69c;
		background-color: #45b69c;
		color: #fff !important;
	}
}

.navbar-toggler {
	border: none;
}

/* Hero */

@media (max-width: 768px) {
	#heroContainer {
		height: 768px;
	}
}
@media (min-width: 769px) {
	#heroContainer {
		height: 900px;
	}
}

#heroTitle {
	letter-spacing: 0.1em;
}

@media (min-width: 340px) {
	#heroTitle {
		border-right: 3px solid;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		animation: typing 2s steps(27), cursor 0.4s step-end infinite alternate;
	}

	@keyframes cursor {
		50% {
			border-color: transparent;
		}
	}

	@keyframes typing {
		from {
			width: 0;
		}
	}
}

@media (max-width: 576px) {
	#heroTitle {
		font-size: 18px;
	}
}

@media (min-width: 577px) and (max-width: 768px) {
	#heroTitle {
		font-size: 22px;
	}
}

#callAction {
	background: #45b69c;
}

#callAction:hover {
	background: #21d19f;
}
